<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Project Webchat</title>
</head>
<body>
  <ul id="onlineUsers" data-testid="online-user"></ul>
  <ul id="messages"></ul>

  <form action="" id="nicknameForm">
    <input type="text "id="nicknameInput" placeholder="enter nickname here" data-testid="nickname-box" />
    <button type="submit" id="nicknameButton" data-testid="nickname-button">Save Nickname</button>
  </form>  

  <form action="" id="messageForm">
    <input type="text" id="messageInput" placeholder="your message goes here" autocomplete="off" data-testid="message-box" />
    <button type="submit" id="messageButton" data-testid="send-button">Send</button>
  </form>

  <script>
    const socket = window.io();
    let newNickname = "";

    // evento nickname
    const nicknameForm = document.querySelector('#nicknameForm');
    const nicknameInput = document.querySelector('#nicknameInput');
    
    nicknameForm.addEventListener('submit', (e) => {
      e.preventDefault();
      newNickname = nicknameInput.value;
      nicknameInput.value = '';
      return false;
    });

    // evento message box
    const messageform = document.querySelector('#messageForm');
    const messageInput = document.querySelector('#messageInput');

    messageform.addEventListener('submit', (e) => {
      e.preventDefault();
      socket.emit('message', {
        nickname: newNickname,
        chatMessage: messageInput.value
      });
      messageInput.value = '';
      return false;
    });

    // função para criar lista de usuários na tela
    const onlineUsersBox = (user) => {
      const usersUl = document.querySelector('#onlineUsers');
      const usersLi = document.createElement('li');

      usersLi.innerText = user;
      usersLi.setAttribute('data-testid', 'online-user');
      usersUl.appendChild(usersLi);
    };

    // função para criar menssagem na tela
    const messageBox = (message) => {
      const messageUl = document.querySelector('#messages');
      const newMessageli = document.createElement('li');

      newMessageli.innerText = message;
      newMessageli.setAttribute('data-testid', 'message');
      messageUl.appendChild(newMessageli);
    };

    // função para criar historico na tela
    const historyBox = (chatHistory) => {
      console.log(chatHistory);
      const messageUl = document.querySelector('#messages');
      chatHistory.forEach(({ message, nickname, timestamp }) => {
        const newMessageli = document.createElement('li');
        const newMessage = `${timestamp} - ${nickname}: ${message}`;
        newMessageli.innerText = newMessage;
        newMessageli.setAttribute('data-testid', 'message');
        messageUl.appendChild(newMessageli);
      });
    };

    // evento socket para menssagens na tela
    socket.on('defaultNickname', (defaultNick) => {
      onlineUsersBox(defaultNick)
      newNickname = defaultNick;
    });
    socket.on('message', (message) => messageBox(message));
    socket.on('chatHistory', (chatHistory) => historyBox(chatHistory));

  </script>
</body>
</html> 
