<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Project Webchat</title>
</head>
<body>
  <ul id="messages"></ul>
  <form action="">
    <input id="messageInput" autocomplete="off" /><button>Send</button>
  </form>
  <script>
    const socket = window.io();
    const form = document.querySelector('form');
    const inputMessage = document.querySelector('#messageInput');

    form.addEventListener('submit', (e) => {
      e.preventDefault();
      socket.emit('message', inputMessage.value);
      inputMessage.value = '';
      return false;
    });
  </script>
</body>
</html> 